@import url(_reset.css);
html, body {
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100%; }

body {
  background: #f4f4f4;
  font-family: 'mulilight', Arial, sans-serif;
  font-size: 26px;
  color: #424242; }

.overview .overview,
.activity .activity,
.photos .photos,
b {
  font-family: 'mulisemibold', Arial, sans-serif; }

a:hover {
  border-bottom: 2px solid; }

a:active,
a:focus {
  outline: 0; }

.banner {
  background-image: url("../assets/banner.jpg");
  height: 737px;
  background-size: cover;
  background-position: center; }
  @media (max-width: 768px) {
    .banner {
      height: 1102px; } }

.header-overlay {
  display: block;
  width: 100%;
  height: 100%;
  background: #424242;
  opacity: .8;
  margin-bottom: -26em; }
  @media (max-width: 768px) {
    .header-overlay {
      margin-bottom: -41em; } }

.badge-logo {
  width: 150px;
  height: auto; }
  @media (max-width: 768px) {
    .badge-logo {
      margin: 0;
      position: relative; } }

.activity-level {
  color: #ff5a00; }

.badge-item {
  font-size: 16px;
  line-height: 1;
  margin: -15px 15px 10px 15px;
  color: #b9b9b9;
  display: inline-block; }

.badge-item a:hover, .badge-item a {
  color: #b9b9b9;
  border-bottom: none;
  font-size: 26px;
  text-decoration: none; }

.badge-item:hover {
  border-bottom: 2px solid;
  cursor: pointer; }

.badge-divider {
  display: inline-block;
  height: 60px;
  border: 1px solid #b9b9b9;
  vertical-align: -80%;
  margin-top: -30px; }

.profile-primary-element {
  padding-right: 20px;
  line-height: 1.5; }

.profile-photo-container {
  display: inline-block;
  width: 300px;
  margin: 30px;
  padding: 0; }
  @media (max-width: 768px) {
    .profile-photo-container {
      display: block;
      margin: 30px auto; } }

.profile-photo {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  border: 3px solid white;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.5); }

.primary-info {
  display: inline-block;
  position: absolute;
  padding-top: 25px;
  color: #b9b9b9; }
  @media (max-width: 768px) {
    .primary-info {
      display: block;
      padding: 0 0 40px 0;
      position: relative;
      text-align: center; } }

.primary-info a {
  color: #ff5a00;
  text-decoration: none; }

.current-city:before {
  font-family: FontAwesome;
  content: "\f041";
  padding-right: 10px; }

.name {
  color: #ffffff;
  font-size: 48px; }

.job-title {
  display: inline; }

.tagline {
  font-family: 'mulilightitalic', Arial, sans-serif;
  color: #b9b9b9;
  display: block; }

.social-button-container {
  padding-top: 10px; }

.social-button {
  height: 30px;
  padding: 0 3px; }

.social-button-container a {
  border-bottom: none; }

.header-nav, .header-nav a {
  color: #ffffff;
  margin-top: -2em;
  text-decoration: none; }
  @media (max-width: 768px) {
    .header-nav, .header-nav a {
      margin-top: -3em;
      padding-bottom: 1em; } }

.body-nav {
  display: block;
  height: 76px;
  line-height: 3;
  background: #e9e9e9;
  margin-bottom: 60px; }

.body-nav a {
  color: #424242;
  text-decoration: none; }

.section-row {
  padding: 56px 0;
  line-height: 1.5; }

.section-row a {
  color: #424242;
  text-decoration: none; }

.section-row:last-of-type {
  padding: 56px 0 96px 0; }

.alternative-section-row {
  background: #e9e9e9; }

.section-phrase {
  font-family: 'mulisemibold', Arial, sans-serif;
  font-size: 36px; }

.column-container {
  padding-bottom: 96px; }

@media (max-width: 768px) {
  .column-container:last-of-type {
    padding-bottom: 0; } }

.featured-image {
  background-image: url("../assets/featured-image.jpg");
  height: 85%;
  background-size: cover;
  background-position: center; }

/*# sourceMappingURL=style.css.map */
